<style>

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.plan_tiered_cell{
  display: inline-block;
}

.subscribe_cell,
.plan_header_cell,
.plan_features_cell,
.plan_base_price_cell {
    flex: 1;
    text-align: center;
    overflow: hidden;
    width:200px;
}

.table_row{
    display: inline-flex;
    border-bottom: 2px solid #e8ebed;
    padding: 20px 0px;
    align-items: center;
}

.table_row.plans_header{
  border-bottom: 2px solid #1acca2;
  padding:10px 0px;
}


.plan_header_cell {
  color: #1acca2;
  font-size: 16px;
  font-weight: bold;
  height: 30px;
  overflow: visible;
  position: relative;
}

.plan_price {
    color: #1acca2;
    font-size: 32px;
    width:200px;
}

.price_recurrence {
    color: #adb0b0;
}

.plan_features_cell.feature_name,
.plan_base_price_cell:first-child  {
    padding-left: 8px;
    text-align: left;
    font-weight: bold;
}


span.nr-yes{
    color: #1acca2;
    font-size: 24px;
}

span.nr-no {
    color: #adb0b0;
    font-size: 24px;
}

.trial_el span {
    background: #1acca2;
    border-radius: 50px;
    padding: 0px 16px;
}

.trial_el {
  border-radius: 25px;
  padding: 0px 5px;
  position: absolute;
  top: 33px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  overflow: hidden;
  max-height: 16px;
  width: 100%;
  overflow: hidden;
  left: 0px;
}

.nrg-btn{
  background: #16b590;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  border-radius: 3px;
  padding: 5px 12px;
  margin: 0px 12px;
  display: inline-block;
}

a,
a:hover{
  color:#16b590;
}

.emailWrapper .invalidEmail{
	display: none;
}

.emailWrapper.has-error .invalidEmail{
	display: block;
}

.modal-bg{
  display: none;
}

.fillEmail .modal-bg{
  position:absolute;
  display: block;
  top:0px;
  right:0px;
  width: 100%;
  height: 100%;
  z-index: 999;
  background:rgba(255,255,255,0.5);
}

.noSSO.fillEmail .emailWrapper{
  display: block;
  position: absolute;
  width: 300px;
  top: 60px;
  background: white;
  padding: 20px;
  z-index: 99999;
  height: 245px;
  border: 1px solid gray;
  border-radius: 3px;
  left: calc(50% - 150px);
}

.noSSO.fillEmail.done .emailWrapper,
.done.fillEmail .modal-bg,
.emailWrapper,
.noSSO.fillEmail .nr-nurego-tag-line{
	display:none;
}

.thankYou{
	display: none;
}

.done .p1 {
  	font-size: 28px;
}
.done .thankYou{
  display: block;
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: center;
  background: rgba(255,255,255,1);
  height: 100%;
  padding: 10%;
  z-index: 999;
}

.unchecked .subscribeToPlan{
	opacity:0.35;
}

.checked .subscribeToPlan{
	opacity:1;
}

.noSSO.fillEmail .tableWrapper{
	display:none;
}


.emailWrapper span.nr-no {
    position: absolute;
    right: 10px;
    font-size: 18px;
    top: 10px;
    cursor: pointer;
}


.nr-nurego-tag-line {
    text-align: right;
    margin: 0px 10px;
}

.plan_features_cell.feature_name::first-letter,
.plan_header_cell::first-letter  {
    text-transform: capitalize;
}

.plan_header_name {
    color: #1acca2;
    font-size: 16px;
    font-weight: bold;
    height: 38px;
    text-align: center;
    width:200px;
}

.nurego_widget_wrapper{
  text-align:center;
}

.table_wrapper{
  display:inline-block;
  background:white;
}

</style>



<div class="nurego_widget_wrapper">
  <div class="table_wrapper">

    <div class="table_row plans_header">
      <!-- EMPTY CELL -->
      <div class="plan_header_cell"></div>
      <!-- // EMPTY CELL -->

			{{  for(var plan in plans) { }}
  			<div class="plan_header_cell"  title="{{=plans[plan].name}}">
          <div class="ellipsis plan_header_name">
            {{=plans[plan].name}}
          </div>

          {{ if(plans[plan].trial_period) { }}
            <div class="trial_el ellipsis">
              <span>{{=plans[plan].trial_period_interval}} Days Free Trial </span>
            </div>
          {{	}	}}
        </div>
			{{ 	}	}}

		</div>

    <div class="row_clear"></div>

    <div class="table_row plans_base_price">
      <div class="plan_base_price_cell">
        Base Price
      </div>
			{{  for(var plan in plans) { }}
        {{ var price = plans[plan].price }}
        {{	if(price)	{	}}
          <div class="plan_base_price_cell">
            <div class="plan_price ellipsis" title="${{=price}}">${{=price}}</div>
            {{	if(plans[plan].subscription_cycle)	{	}}
              <div class="price_recurrence">
                <span> / {{=plans[plan].subscription_cycle}}</span>
              </div>
            {{ 	}	}}
          </div>
        {{	} }}
			{{ 	}	}}
		</div>

    {{  for(var feature in features) { }}
      <div class="row_clear"></div>
      <div class="table_row plans_features">

        <!--  Draw Feature Cell-->
        <div class="plan_features_cell feature_name" title="{{=features[feature].name}}">
          {{=features[feature].name}}
        </div>

    		{{  for(var plan in plans) { }}

          {{ if(plans[plan].plan_elements) { }}
            <!--  find the current feature -->
            {{ var planElement = plans[plan].plan_elements.data.filter(function(p){ return p.id === features[feature].id; } ) }}

            {{ if(planElement.length) { }}
              {{ planElement = planElement[0]; }}
              {{	if(planElement.rating)	{	}}


                {{ if(planElement.rating.type === 'tiered') { }}
                  <!-- TIERED -->
                  {{ var tiers = planElement.rating.tiers.data; }}
                  <div class="plan_features_cell tiered_feature_wrapper">
                    <div class="plan_tiered_cell" title="{{=plans[plan].name}}">
                      {{  for(var tier in tiers ) { }}
                        <div class="tiered_item">
                          ${{=tiers[tier].value_string}}
                        </div>
                      {{	}	}}
                    </div>
                  </div>
                  <!-- // TIERED -->

                {{   }else {  }}
                  <!-- NOT TIERED -->
                  <div class="plan_features_cell">
                    {{ if(planElement.rating.price) {  }}
                        ${{=planElement.rating.value_string}}
                    {{   }else{  }}
                        {{ if(planElement.rating.value_string){ }}
                          {{=planElement.rating.value_string}}
                        {{   }else{  }}
                          <span class="nr-check nr-yes ion-checkmark-circled"></span>
                        {{  }  }}
                    {{  }  }}
                  </div>
                  <!-- // NOT TIERED -->
                {{   } }}

    					{{	} else{	}}

                <!-- Empty Cell - FEATURE IS MISSING IN THIS PLAN -->
    						<div class="plan_features_cell">
    							<span class="nr-check nr-no ion-close-circled"></span>
    						</div>
                <!-- // Empty Cell -->

    					{{	}	}}

              <!--//  Draw Feature Cell-->
            {{ }else{ }}

              <!-- Empty Cell - FEATURE IS MISSING IN THIS PLAN -->
              <div class="plan_features_cell">
                <span class="nr-check nr-no ion-close-circled"></span>
              </div>
              <!-- // Empty Cell -->

            {{ } }}

          {{ }else{ }}

            <!-- Empty Cell - FEATURE IS MISSING IN THIS PLAN -->
            <div class="plan_features_cell">
              <span class="nr-check nr-no ion-close-circled"></span>
            </div>
            <!-- // Empty Cell -->

          {{ } }}

        {{ 	}	}}
      </div>
    {{ 	}	}}

  	{{	if(!obj.urlParams["preview"]) {	}}
      <div class="row_clear"></div>
      <div class="table_row subscribe_row">
        <!-- EMPTY CELL -->
        <div class="subscribe_cell"></div>
        <!-- EMPTY CELL END -->
        {{  for(var plan in plans) { }}
        <div class="subscribeToPlan subscribe_cell">
          <div class="nrg-btn plan-select" data-id="{{=plans[plan].id}}">
            Subscribe
          </div>
        </div>
        {{ 	}	}}
      </div>
  	{{	}	}}
  </div>

  {{ if(obj.urlParams["terms-of-service-url"]) {	}}
  <div class="nr-nurego-tag-line">
		 <div class="checkbox" id="checkbox">
		    <label>
		      <input name="terms" checked="checked" class="termsCheckbox" type="checkbox">
		      By clicking subscribe you agree to the
                <a href="javascript:void(0)" class="terms">Terms of Service</a>
		    </label>
		  </div>
      <div>
          Pricing Table Crafted by
          <a href="http://www.nurego.com">Nurego</a>
      </div>
  </div>
  {{	}	}}

  <div class="modal-bg"></div>

  <div class="emailWrapper">
    <span class="nr-check nr-no ion-close-circled"></span>
  	<h4 class="">Please enter your Email:</h4>
  	<input class="form-control email" type="text" placeholder="example@email.com"/>
    </br>
  	<div class="postNoSSo nrg-btn">Subscribe</div>
    <div class="alert alert-danger invalidEmail" role="alert" style="margin-top:12px;">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only"></span>
      <span class="txt">Error:Invalid Email address, please try again.</span>
    </div>
  </div>

  <div class="thankYou">
  	<div class="p1">Your registration invite has been sent.</div>
  	<div class="p2">Please check your inbox and use the link inside to sign up</div>
  </div>
</div>
