<!-- <div>
	<h2>{{=obj.name}}</h2>
	<h5>{{=obj.description}}</h5> 
	hello world
</div> -->


<main id="MAIN_34">
	<section id="SECTION_35">
		<div id="DIV_38">
			<h1 id="H1_39">
				{{=obj.name}}
			</h1>
			<h2 id="H2_40">
				By GE Software
			</h2>
			<h3 id="H3_41">
				Published April 28, 2015
			</h3>
		</div>
	</section>
	<section id="SECTION_42">
		<div id="DIV_43">
			<div id="DIV_44">
				<div id="DIV_45">
					<p id="P_46">
						<img src="/assets/icons/icon-asset.svg" id="IMG_47" alt='' /> <a href="http://predix-asset.grc-pr-apps.ice.ge.com/" id="A_48">View Live Sample</a>
					</p>
				</div>
				<div id="DIV_49">
					<div id="DIV_50">
						<p id="P_51">
							The Predix Asset Service provides asset modeling and data management with real time intelligence, and provides insight into the relationships and connections between independently managed assets. Industrial Internet applications are generally machine-focused. The Asset service enables application developers to import, create, and store asset models that describe machine types, as well as create instance representations for those machines.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="SECTION_52">
		<div id="DIV_53">
		</div>
	</section>
</main>



<style>
	
#HTML_1 {
    box-sizing: border-box;
    height: 939.171875px;
    min-height: 100%;
    width: 1326px;
    z-index: 0;
    perspective-origin: 663px 469.578125px;
    transform-origin: 663px 469.578125px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    overflow: auto;
}/*#HTML_1*/

#HEAD_2, #META_3, #TITLE_5, #LINK_7, #NUREGO-PUBLIC-CUSTOMER-ID_10, #SCRIPT_54, #SCRIPT_56, #SCRIPT_58, #SCRIPT_60, #SCRIPT_62, #SCRIPT_64, #SCRIPT_96, #SCRIPT_98 {
    box-sizing: border-box;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
}/*#HEAD_2, #META_3, #TITLE_5, #LINK_7, #NUREGO-PUBLIC-CUSTOMER-ID_10, #SCRIPT_54, #SCRIPT_56, #SCRIPT_58, #SCRIPT_60, #SCRIPT_62, #SCRIPT_64, #SCRIPT_96, #SCRIPT_98*/

#META_4, #META_6, #NUREGO-API-BASEURL_11, #SCRIPT_55, #SCRIPT_59, #SCRIPT_63, #SCRIPT_97 {
    box-sizing: border-box;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
}/*#META_4, #META_6, #NUREGO-API-BASEURL_11, #SCRIPT_55, #SCRIPT_59, #SCRIPT_63, #SCRIPT_97*/

#LINK_8, #SCRIPT_57, #SCRIPT_65 {
    box-sizing: border-box;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
}/*#LINK_8, #SCRIPT_57, #SCRIPT_65*/

#BODY_9 {
    box-sizing: border-box;
    height: 939.171875px;
    width: 1326px;
    perspective-origin: 663px 469.578125px;
    transform-origin: 663px 469.578125px;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    margin: 0px;
}/*#BODY_9*/

#ASIDE_12 {
    box-sizing: border-box;
    height: 39px;
    position: fixed;
    right: -100px;
    top: 80px;
    width: 400px;
    z-index: 2;
    perspective-origin: 200px 19.5px;
    transform: matrix(0.707106781186548, 0.707106781186548, -0.707106781186548, 0.707106781186548, 0, 0);
    transform-origin: 200px 19.5px;
    background: rgb(196, 41, 53) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
}/*#ASIDE_12*/

#H2_13 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 39px;
    text-align: center;
    width: 400px;
    perspective-origin: 200px 19.5px;
    transform-origin: 200px 19.5px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal bold normal 30px/39.9999961853027px 'GE Inspira Sans', sans-serif;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#H2_13*/

#HEADER_14 {
    box-sizing: border-box;
    height: 60px;
    width: 1326px;
    perspective-origin: 663px 30px;
    transform-origin: 663px 30px;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    padding: 60px 0px 0px;
}/*#HEADER_14*/

#NAV_15 {
    box-sizing: border-box;
    height: 81px;
    left: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 1326px;
    z-index: 1;
    perspective-origin: 663px 40.5px;
    transform-origin: 663px 40.5px;
    background: rgb(49, 159, 29) none repeat scroll 0% 0% / auto padding-box border-box;
    border-bottom: 1px solid rgb(24, 133, 4);
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    transition: all 0.25s ease-in-out 0s;
}/*#NAV_15*/

#DIV_16 {
    box-sizing: border-box;
    height: 80px;
    max-width: 1280px;
    width: 1280px;
    perspective-origin: 640px 40px;
    transform-origin: 640px 40px;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    margin: 0px 23px;
}/*#DIV_16*/

#DIV_17 {
    box-sizing: border-box;
    display: flex;
    height: 80px;
    width: 1295px;
    align-content: stretch;
    align-items: center;
    justify-content: flex-start;
    perspective-origin: 647.5px 40px;
    transform-origin: 647.5px 40px;
    flex-flow: row wrap;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px -15px;
}/*#DIV_17*/

#DIV_18 {
    box-sizing: border-box;
    height: 26px;
    width: 259px;
    align-self: center;
    perspective-origin: 129.5px 13px;
    transform-origin: 129.5px 13px;
    flex: 0 0 auto;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    padding: 0px 0px 0px 15px;
}/*#DIV_18*/

#A_19 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#A_19*/

#IMG_20 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 21px;
    width: 72px;
    perspective-origin: 36px 10.5px;
    transform-origin: 36px 10.5px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#IMG_20*/

#UL_21 {
    box-sizing: border-box;
    height: 80px;
    text-align: center;
    width: 777px;
    align-self: center;
    perspective-origin: 388.5px 40px;
    transform-origin: 388.5px 40px;
    flex: 0 0 auto;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
}/*#UL_21*/

#LI_22 {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height: 80px;
    text-align: center;
    width: 84.125px;
    perspective-origin: 42.0625px 40px;
    transform-origin: 42.0625px 40px;
    font: normal normal normal normal 20px/80px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    margin: 0px 15px 0px 0px;
}/*#LI_22*/

#A_23 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 80px;
    text-align: center;
    text-decoration: none;
    width: 84.125px;
    perspective-origin: 42.0625px 40px;
    transform-origin: 42.0625px 40px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 20px/80px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 10px;
}/*#A_23*/

#LI_24 {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height: 80px;
    text-align: center;
    width: 67.5px;
    perspective-origin: 33.75px 40px;
    transform-origin: 33.75px 40px;
    font: normal normal normal normal 20px/80px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    margin: 0px 15px 0px 0px;
}/*#LI_24*/

#A_25 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 80px;
    text-align: center;
    text-decoration: none;
    width: 67.5px;
    perspective-origin: 33.75px 40px;
    transform-origin: 33.75px 40px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 20px/80px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 10px;
}/*#A_25*/

#LI_26 {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height: 80px;
    text-align: center;
    width: 117.90625px;
    perspective-origin: 58.953125px 40px;
    transform-origin: 58.953125px 40px;
    font: normal normal normal normal 20px/80px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    margin: 0px 15px 0px 0px;
}/*#LI_26*/

#A_27 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 80px;
    text-align: center;
    text-decoration: none;
    width: 117.90625px;
    perspective-origin: 58.953125px 40px;
    transform-origin: 58.953125px 40px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 20px/80px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 10px;
}/*#A_27*/

#LI_28 {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height: 80px;
    text-align: center;
    width: 87.25px;
    perspective-origin: 43.625px 40px;
    transform-origin: 43.625px 40px;
    font: normal normal normal normal 20px/80px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
}/*#LI_28*/

#A_29 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 80px;
    text-align: center;
    text-decoration: none;
    width: 87.25px;
    perspective-origin: 43.625px 40px;
    transform-origin: 43.625px 40px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 20px/80px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 10px;
}/*#A_29*/

#DIV_30 {
    box-sizing: border-box;
    height: 30px;
    text-align: right;
    width: 259px;
    align-self: center;
    perspective-origin: 129.5px 15px;
    transform-origin: 129.5px 15px;
    flex: 0 0 auto;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    padding: 0px 0px 0px 15px;
}/*#DIV_30*/

#DIV_31 {
    box-sizing: border-box;
    height: 30px;
    text-align: right;
    width: 244px;
    perspective-origin: 122px 15px;
    transform-origin: 122px 15px;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
}/*#DIV_31*/

#A_32 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 30px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 67.203125px;
    perspective-origin: 33.59375px 15px;
    transform-origin: 33.59375px 15px;
    background: rgb(42, 136, 30) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 15px/28px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 1px 15px;
}/*#A_32*/

#A_33 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: none;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    visibility: hidden;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgb(42, 136, 30) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 15px/28px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px 10px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 1px 15px;
}/*#A_33*/

	
</style>