<!-- <div>
	<h2>{{=obj.name}}</h2>
	<h5>{{=obj.description}}</h5>
	hello world
</div> -->

<div class="alert alert-danger ajaxErrorMsg" role="alert" style="display:none">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      <span class="txt"></span>
</div>

<main id="MAIN_34">
	<section id="SECTION_35">
		<div id="DIV_38">
			<h1 id="H1_39">
				{{=obj.name}}
			</h1>
			<h2 id="H2_40">
				By {{=obj.author}}
			</h2>
			<h3 id="H3_41">
				Published April 28, 2015
			</h3>
		</div>
	</section>
	<section id="SECTION_42">
		<div id="DIV_43">
			<div id="DIV_44">
				<div id="DIV_45">
					<p id="P_46">
						<!-- <img src="http://www.alberttoledo.com/img/icons/social/github.png" id="IMG_47" alt='' />  -->
						<img src="{{=obj.icon}}" id="IMG_47" alt='' />
						<a href="https://livesample.grc-apps.svc.ice.ge.com/" id="A_48">View Live Sample</a>
					</p>
				</div>
				<div id="DIV_49">
					<div id="DIV_50">
						<p id="P_51">
							{{=obj.description}}
							<!-- The Predix Asset Service provides asset modeling and data management with real time intelligence, and provides insight into the relationships and connections between independently managed assets. Industrial Internet applications are generally machine-focused. The Asset service enables application developers to import, create, and store asset models that describe machine types, as well as create instance representations for those machines. -->
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="SECTION_52">
		<div id="DIV_53">
      <nurego-widget style="width:100%;"
        name="price_list"
        redirect-url="/registration"
        sso="false"
        terms-of-service-url="/terms.html">
      </nurego-widget>
		</div>
	</section>
</main>



<style>

body , html {
	overflow-x:hidden;
  overflow-y:auto; 
}

#HTML_1 {
    box-sizing: border-box;
    height: 939.171875px;
    min-height: 100%;
    width: 1326px;
    z-index: 0;
    perspective-origin: 663px 469.578125px;
    transform-origin: 663px 469.578125px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    overflow: auto;
}/*#HTML_1*/

#HEAD_2, #META_3, #TITLE_5, #LINK_7, #NUREGO-PUBLIC-CUSTOMER-ID_10, #SCRIPT_54, #SCRIPT_56, #SCRIPT_58, #SCRIPT_60, #SCRIPT_62, #SCRIPT_64, #SCRIPT_96, #SCRIPT_98 {
    box-sizing: border-box;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
}/*#HEAD_2, #META_3, #TITLE_5, #LINK_7, #NUREGO-PUBLIC-CUSTOMER-ID_10, #SCRIPT_54, #SCRIPT_56, #SCRIPT_58, #SCRIPT_60, #SCRIPT_62, #SCRIPT_64, #SCRIPT_96, #SCRIPT_98*/

#META_4, #META_6, #NUREGO-API-BASEURL_11, #SCRIPT_55, #SCRIPT_59, #SCRIPT_63, #SCRIPT_97 {
    box-sizing: border-box;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
}/*#META_4, #META_6, #NUREGO-API-BASEURL_11, #SCRIPT_55, #SCRIPT_59, #SCRIPT_63, #SCRIPT_97*/

#LINK_8, #SCRIPT_57, #SCRIPT_65 {
    box-sizing: border-box;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
}/*#LINK_8, #SCRIPT_57, #SCRIPT_65*/

#BODY_9 {
    box-sizing: border-box;
    height: 939.171875px;
    width: 1326px;
    perspective-origin: 663px 469.578125px;
    transform-origin: 663px 469.578125px;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    margin: 0px;
}/*#BODY_9*/

#ASIDE_12 {
    box-sizing: border-box;
    height: 39px;
    position: fixed;
    right: -100px;
    top: 80px;
    width: 400px;
    z-index: 2;
    perspective-origin: 200px 19.5px;
    transform: matrix(0.707106781186548, 0.707106781186548, -0.707106781186548, 0.707106781186548, 0, 0);
    transform-origin: 200px 19.5px;
    background: rgb(196, 41, 53) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
}/*#ASIDE_12*/

#H2_13 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 39px;
    text-align: center;
    width: 400px;
    perspective-origin: 200px 19.5px;
    transform-origin: 200px 19.5px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal bold normal 30px/39.9999961853027px 'GE Inspira Sans', sans-serif;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#H2_13*/

#HEADER_14 {
    box-sizing: border-box;
    height: 60px;
    width: 1326px;
    perspective-origin: 663px 30px;
    transform-origin: 663px 30px;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    padding: 60px 0px 0px;
}/*#HEADER_14*/

#NAV_15 {
    box-sizing: border-box;
    height: 81px;
    left: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 1326px;
    z-index: 1;
    perspective-origin: 663px 40.5px;
    transform-origin: 663px 40.5px;
    background: rgb(49, 159, 29) none repeat scroll 0% 0% / auto padding-box border-box;
    border-bottom: 1px solid rgb(24, 133, 4);
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    transition: all 0.25s ease-in-out 0s;
}/*#NAV_15*/

#DIV_16 {
    box-sizing: border-box;
    height: 80px;
    max-width: 1280px;
    width: 1280px;
    perspective-origin: 640px 40px;
    transform-origin: 640px 40px;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    margin: 0px 23px;
}/*#DIV_16*/

#DIV_17 {
    box-sizing: border-box;
    display: flex;
    height: 80px;
    width: 1295px;
    align-content: stretch;
    align-items: center;
    justify-content: flex-start;
    perspective-origin: 647.5px 40px;
    transform-origin: 647.5px 40px;
    flex-flow: row wrap;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px -15px;
}/*#DIV_17*/

#DIV_18 {
    box-sizing: border-box;
    height: 26px;
    width: 259px;
    align-self: center;
    perspective-origin: 129.5px 13px;
    transform-origin: 129.5px 13px;
    flex: 0 0 auto;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    padding: 0px 0px 0px 15px;
}/*#DIV_18*/

#A_19 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#A_19*/

#IMG_20 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 21px;
    width: 72px;
    perspective-origin: 36px 10.5px;
    transform-origin: 36px 10.5px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#IMG_20*/

#UL_21 {
    box-sizing: border-box;
    height: 80px;
    text-align: center;
    width: 777px;
    align-self: center;
    perspective-origin: 388.5px 40px;
    transform-origin: 388.5px 40px;
    flex: 0 0 auto;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
}/*#UL_21*/

#LI_22 {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height: 80px;
    text-align: center;
    width: 84.125px;
    perspective-origin: 42.0625px 40px;
    transform-origin: 42.0625px 40px;
    font: normal normal normal normal 20px/80px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    margin: 0px 15px 0px 0px;
}/*#LI_22*/

#A_23 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 80px;
    text-align: center;
    text-decoration: none;
    width: 84.125px;
    perspective-origin: 42.0625px 40px;
    transform-origin: 42.0625px 40px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 20px/80px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 10px;
}/*#A_23*/

#LI_24 {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height: 80px;
    text-align: center;
    width: 67.5px;
    perspective-origin: 33.75px 40px;
    transform-origin: 33.75px 40px;
    font: normal normal normal normal 20px/80px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    margin: 0px 15px 0px 0px;
}/*#LI_24*/

#A_25 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 80px;
    text-align: center;
    text-decoration: none;
    width: 67.5px;
    perspective-origin: 33.75px 40px;
    transform-origin: 33.75px 40px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 20px/80px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 10px;
}/*#A_25*/

#LI_26 {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height: 80px;
    text-align: center;
    width: 117.90625px;
    perspective-origin: 58.953125px 40px;
    transform-origin: 58.953125px 40px;
    font: normal normal normal normal 20px/80px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    margin: 0px 15px 0px 0px;
}/*#LI_26*/

#A_27 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 80px;
    text-align: center;
    text-decoration: none;
    width: 117.90625px;
    perspective-origin: 58.953125px 40px;
    transform-origin: 58.953125px 40px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 20px/80px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 10px;
}/*#A_27*/

#LI_28 {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height: 80px;
    text-align: center;
    width: 87.25px;
    perspective-origin: 43.625px 40px;
    transform-origin: 43.625px 40px;
    font: normal normal normal normal 20px/80px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
}/*#LI_28*/

#A_29 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 80px;
    text-align: center;
    text-decoration: none;
    width: 87.25px;
    perspective-origin: 43.625px 40px;
    transform-origin: 43.625px 40px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 20px/80px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 10px;
}/*#A_29*/

#DIV_30 {
    box-sizing: border-box;
    height: 30px;
    text-align: right;
    width: 259px;
    align-self: center;
    perspective-origin: 129.5px 15px;
    transform-origin: 129.5px 15px;
    flex: 0 0 auto;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    padding: 0px 0px 0px 15px;
}/*#DIV_30*/

#DIV_31 {
    box-sizing: border-box;
    height: 30px;
    text-align: right;
    width: 244px;
    perspective-origin: 122px 15px;
    transform-origin: 122px 15px;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
}/*#DIV_31*/

#A_32 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 30px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 67.203125px;
    perspective-origin: 33.59375px 15px;
    transform-origin: 33.59375px 15px;
    background: rgb(42, 136, 30) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 15px/28px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 1px 15px;
}/*#A_32*/

#A_33 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: none;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    visibility: hidden;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgb(42, 136, 30) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 15px/28px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px 10px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 1px 15px;
}/*#A_33*/

#MAIN_34 {
    box-sizing: border-box;
    height: 699.171875px;
    width: 1326px;
    perspective-origin: 663px 349.578125px;
    transform-origin: 663px 349.578125px;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
}/*#MAIN_34*/

#SECTION_35 {
    box-sizing: border-box;
    height: 224.171875px;
    width: 1326px;
    perspective-origin: 663px 112.078125px;
    transform-origin: 663px 112.078125px;
    border-top: 1px solid rgb(186, 186, 186);
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    padding: 15px 0px;
}/*#SECTION_35*/

#A_36 {
    box-sizing: border-box;
    color: rgb(49, 113, 227);
    display: block;
    float: left;
    height: 38px;
    text-decoration: none;
    width: 114.015625px;
    perspective-origin: 57px 19px;
    transform-origin: 57px 19px;
    border: 0px none rgb(49, 113, 227);
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    margin: 0px 0px 0px 24px;
    outline: rgb(49, 113, 227) none 0px;
}/*#A_36*/

#I_37 {
    box-sizing: border-box;
    color: rgb(49, 113, 227);
    display: inline-block;
    height: 35px;
    width: 12.859375px;
    z-index: 0;
    perspective-origin: 6.421875px 17.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 6.421875px 17.5px;
    border: 0px none rgb(49, 113, 227);
    font: normal normal normal normal 15px/15px FontAwesome;
    outline: rgb(49, 113, 227) none 0px;
    padding: 20px 0px 0px;
}/*#I_37*/

#I_37:before {
    box-sizing: border-box;
    color: rgb(49, 113, 227);
    content: '';
    border: 0px none rgb(49, 113, 227);
    font: normal normal normal normal 15px/15px FontAwesome;
    outline: rgb(49, 113, 227) none 0px;
}/*#I_37:before*/

#DIV_38 {
    box-sizing: border-box;
    height: 140px;
    max-width: 960px;
    text-align: center;
    width: 960px;
    perspective-origin: 480px 70px;
    transform-origin: 480px 70px;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    margin: 0px 183px;
}/*#DIV_38*/

#H1_39 {
    box-sizing: border-box;
    height: 60px;
    text-align: center;
    width: 960px;
    perspective-origin: 480px 30px;
    transform-origin: 480px 30px;
    font: normal normal bold normal 46px/60px 'GE Inspira Sans', sans-serif;
    margin: 38.1800003051758px 0px 10px;
}/*#H1_39*/

#H2_40 {
    box-sizing: border-box;
    height: 32px;
    text-align: center;
    width: 960px;
    perspective-origin: 480px 16px;
    transform-origin: 480px 16px;
    font: normal normal normal normal 24px/32px 'GE Inspira Sans', sans-serif;
    margin: 0px 0px 10px;
}/*#H2_40*/

#H3_41 {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    height: 28px;
    text-align: center;
    width: 960px;
    perspective-origin: 480px 14px;
    transform-origin: 480px 14px;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 21px/28px 'GE Inspira Sans', sans-serif;
    margin: 0px 0px 15px;
    outline: rgb(119, 119, 119) none 0px;
}/*#H3_41*/

#SECTION_42 {
    box-sizing: border-box;
    height: 413px;
    width: 1326px;
    perspective-origin: 663px 206.5px;
    transform-origin: 663px 206.5px;
    border-top: 1px solid rgb(186, 186, 186);
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    padding: 15px 0px 46px;
}/*#SECTION_42*/

#DIV_43 {
    box-sizing: border-box;
    height: 351px;
    max-width: 960px;
    width: 960px;
    perspective-origin: 480px 175.5px;
    transform-origin: 480px 175.5px;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    margin: 0px 183px;
}/*#DIV_43*/

#DIV_44 {
    box-sizing: border-box;
    display: flex;
    display: -webkit-flex;
    height: 351px;
    text-align: left;
    width: 975px;
    align-content: stretch;
    align-items: stretch;
    justify-content: flex-start;
    perspective-origin: 487.5px 175.5px;
    transform-origin: 487.5px 175.5px;
    flex-flow: row wrap;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px -15px;
}/*#DIV_44*/

#DIV_45 {
    box-sizing: border-box;
    height: 351px;
    text-align: left;
    width: 292.5px;
    align-self: stretch;
    perspective-origin: 146.25px 175.5px;
    transform-origin: 146.25px 175.5px;
    flex: 0 0 auto;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    padding: 0px 0px 0px 15px;
}/*#DIV_45*/

#P_46 {
    box-sizing: border-box;
    height: 314px;
    text-align: center;
    width: 277.5px;
    perspective-origin: 138.75px 157px;
    transform-origin: 138.75px 157px;
    font: normal normal normal normal 22px/28px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    margin: 22px 0px 15px;
}/*#P_46*/

#IMG_47 {
    box-sizing: border-box;
    height: 278px;
    max-width: 100%;
    text-align: center;
    width: 277.5px;
    perspective-origin: 138.75px 139px;
    transform-origin: 138.75px 139px;
    font: normal normal normal normal 22px/28px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
}/*#IMG_47*/

#A_48 {
    box-sizing: border-box;
    color: rgb(49, 113, 227);
    text-align: center;
    text-decoration: none;
    border-top: 0px none rgb(49, 113, 227);
    border-right: 0px none rgb(49, 113, 227);
    border-bottom: 1px solid rgb(221, 221, 221);
    border-left: 0px none rgb(49, 113, 227);
    font: normal normal normal normal 22px/28px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(49, 113, 227) none 0px;
}/*#A_48*/

#DIV_49 {
    box-sizing: border-box;
    height: 351px;
    text-align: left;
    width: 682.5px;
    align-self: stretch;
    perspective-origin: 341.25px 175.5px;
    transform-origin: 341.25px 175.5px;
    flex: 0 0 auto;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    padding: 0px 0px 0px 15px;
}/*#DIV_49*/

#DIV_50 {
    box-sizing: border-box;
    height: 196px;
    text-align: left;
    width: 667.5px;
    perspective-origin: 333.75px 98px;
    transform-origin: 333.75px 98px;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    padding: 0px 0px 0px 15px;
}/*#DIV_50*/

#P_51 {
    box-sizing: border-box;
    height: 196px;
    text-align: left;
    width: 652.5px;
    perspective-origin: 326.25px 98px;
    transform-origin: 326.25px 98px;
    font-size:28px;
    font: normal normal normal normal 22px/28px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    margin: 22px 0px 15px;
}/*#P_51*/

#SECTION_52 {
    box-sizing: border-box;
    height: 62px;
    width: 1326px;
    perspective-origin: 663px 31px;
    transform-origin: 663px 31px;
    border-top: 1px solid rgb(186, 186, 186);
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    padding: 15px 0px 46px;
}/*#SECTION_52*/

#DIV_53 {
    box-sizing: border-box;
    max-width: 960px;
    width: 960px;
    perspective-origin: 480px 0px;
    transform-origin: 480px 0px;
    font: normal normal normal normal 15px/15px 'Droid Sans', sans-serif;
    margin: 0px 183px;
}/*#DIV_53*/

#SCRIPT_61 {
    box-sizing: border-box;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
}/*#SCRIPT_61*/

#FOOTER_66 {
    box-sizing: border-box;
    color: rgb(148, 148, 148);
    height: 180px;
    width: 1326px;
    perspective-origin: 663px 90px;
    transform-origin: 663px 90px;
    background: rgb(238, 238, 239) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    outline: rgb(148, 148, 148) none 0px;
    padding: 36px 0px 56px;
}/*#FOOTER_66*/

#DIV_67 {
    box-sizing: border-box;
    color: rgb(148, 148, 148);
    height: 19px;
    max-width: 960px;
    width: 960px;
    perspective-origin: 480px 9.5px;
    transform-origin: 480px 9.5px;
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    margin: 0px 183px;
    outline: rgb(148, 148, 148) none 0px;
}/*#DIV_67*/

#UL_68 {
    box-sizing: border-box;
    color: rgb(148, 148, 148);
    height: 19px;
    text-align: right;
    width: 960px;
    perspective-origin: 480px 9.5px;
    transform-origin: 480px 9.5px;
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(148, 148, 148) none 0px;
    padding: 0px;
}/*#UL_68*/

#LI_69 {
    box-sizing: border-box;
    color: rgb(148, 148, 148);
    display: inline-block;
    height: 19px;
    text-align: right;
    width: 38.421875px;
    perspective-origin: 19.203125px 9.5px;
    transform-origin: 19.203125px 9.5px;
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(148, 148, 148) none 0px;
}/*#LI_69*/

#A_70, #A_72, #A_74, #A_76, #A_78, #A_80 {
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    text-align: right;
    text-decoration: none;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(0, 0, 0) none 0px;
}/*#A_70, #A_72, #A_74, #A_76, #A_78, #A_80*/

#LI_71 {
    box-sizing: border-box;
    color: rgb(148, 148, 148);
    display: inline-block;
    height: 19px;
    text-align: right;
    width: 59.15625px;
    perspective-origin: 29.578125px 9.5px;
    transform-origin: 29.578125px 9.5px;
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(148, 148, 148) none 0px;
}/*#LI_71*/

#LI_71:before {
    box-sizing: border-box;
    color: rgb(148, 148, 148);
    height: auto;
    text-align: right;
    width: auto;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    content: ' | ';
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(148, 148, 148) none 0px;
}/*#LI_71:before*/

#LI_73 {
    box-sizing: border-box;
    color: rgb(148, 148, 148);
    display: inline-block;
    height: 19px;
    text-align: right;
    width: 61.765625px;
    perspective-origin: 30.875px 9.5px;
    transform-origin: 30.875px 9.5px;
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(148, 148, 148) none 0px;
}/*#LI_73*/

#LI_73:before {
    box-sizing: border-box;
    color: rgb(148, 148, 148);
    height: auto;
    text-align: right;
    width: auto;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    content: ' | ';
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(148, 148, 148) none 0px;
}/*#LI_73:before*/

#LI_75 {
    box-sizing: border-box;
    color: rgb(148, 148, 148);
    display: inline-block;
    height: 19px;
    text-align: right;
    width: 46.6875px;
    perspective-origin: 23.34375px 9.5px;
    transform-origin: 23.34375px 9.5px;
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(148, 148, 148) none 0px;
}/*#LI_75*/

#LI_75:before {
    box-sizing: border-box;
    color: rgb(148, 148, 148);
    height: auto;
    text-align: right;
    width: auto;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    content: ' | ';
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(148, 148, 148) none 0px;
}/*#LI_75:before*/

#LI_77 {
    box-sizing: border-box;
    color: rgb(148, 148, 148);
    display: inline-block;
    height: 19px;
    text-align: right;
    width: 84.5px;
    perspective-origin: 42.25px 9.5px;
    transform-origin: 42.25px 9.5px;
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(148, 148, 148) none 0px;
}/*#LI_77*/

#LI_77:before {
    box-sizing: border-box;
    color: rgb(148, 148, 148);
    height: auto;
    text-align: right;
    width: auto;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    content: ' | ';
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(148, 148, 148) none 0px;
}/*#LI_77:before*/

#LI_79 {
    box-sizing: border-box;
    color: rgb(148, 148, 148);
    display: inline-block;
    height: 19px;
    text-align: right;
    width: 61.5px;
    perspective-origin: 30.75px 9.5px;
    transform-origin: 30.75px 9.5px;
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(148, 148, 148) none 0px;
}/*#LI_79*/

#LI_79:before {
    box-sizing: border-box;
    color: rgb(148, 148, 148);
    height: auto;
    text-align: right;
    width: auto;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    content: ' | ';
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(148, 148, 148) none 0px;
}/*#LI_79:before*/

#ASIDE_81 {
    box-sizing: border-box;
    color: rgb(148, 148, 148);
    height: 54px;
    position: relative;
    width: 1326px;
    perspective-origin: 663px 27px;
    transform-origin: 663px 27px;
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    margin: 15px 0px 0px;
    outline: rgb(148, 148, 148) none 0px;
}/*#ASIDE_81*/

#DIV_82 {
    box-sizing: border-box;
    color: rgb(148, 148, 148);
    height: 54px;
    max-width: 960px;
    width: 960px;
    perspective-origin: 480px 27px;
    transform-origin: 480px 27px;
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    margin: 0px 183px;
    outline: rgb(148, 148, 148) none 0px;
}/*#DIV_82*/

#DIV_83 {
    box-sizing: border-box;
    color: rgb(148, 148, 148);
    display: flex;
    height: 54px;
    width: 975px;
    align-content: stretch;
    align-items: center;
    justify-content: flex-start;
    perspective-origin: 487.5px 27px;
    transform-origin: 487.5px 27px;
    border: 0px none rgb(148, 148, 148);
    flex-flow: row wrap;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px -15px;
    outline: rgb(148, 148, 148) none 0px;
}/*#DIV_83*/

#DIV_84 {
    box-sizing: border-box;
    color: rgb(148, 148, 148);
    height: 45px;
    width: 487.5px;
    align-self: center;
    perspective-origin: 243.75px 22.5px;
    transform-origin: 243.75px 22.5px;
    border: 0px none rgb(148, 148, 148);
    flex: 0 0 auto;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(148, 148, 148) none 0px;
    padding: 0px 0px 0px 15px;
}/*#DIV_84*/

#A_85 {
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    display: table;
    height: 45px;
    text-decoration: none;
    width: 472px;
    perspective-origin: 236px 22.5px;
    transform-origin: 236px 22.5px;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(0, 0, 0) none 0px;
}/*#A_85*/

#IMG_86 {
    box-sizing: border-box;
    display: table-cell;
    height: 45px;
    vertical-align: middle;
    width: 55px;
    perspective-origin: 27.5px 22.5px;
    transform-origin: 27.5px 22.5px;
    font: normal normal normal normal 15px/19.9999980926514px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    padding: 0px 10px 0px 0px;
}/*#IMG_86*/

#H4_87 {
    box-sizing: border-box;
    display: table-cell;
    height: 45px;
    vertical-align: middle;
    width: 417px;
    perspective-origin: 208.5px 22.5px;
    transform-origin: 208.5px 22.5px;
    font: normal normal normal normal 20px/20px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    margin: 26.6000003814697px 0px 0px;
}/*#H4_87*/

#SMALL_88 {
    box-sizing: border-box;
    color: rgb(148, 148, 148);
    display: block;
    height: 54px;
    text-align: right;
    width: 487.5px;
    align-self: center;
    perspective-origin: 243.75px 27px;
    transform-origin: 243.75px 27px;
    border: 0px none rgb(148, 148, 148);
    flex: 0 0 auto;
    font: normal normal normal normal 12px/18px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(148, 148, 148) none 0px;
    padding: 0px 0px 0px 15px;
}/*#SMALL_88*/

#UL_89 {
    box-sizing: border-box;
    color: rgb(148, 148, 148);
    height: 18px;
    text-align: right;
    width: 472.5px;
    perspective-origin: 236.25px 9px;
    transform-origin: 236.25px 9px;
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 12px/18px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(148, 148, 148) none 0px;
    padding: 0px;
}/*#UL_89*/

#LI_90 {
    box-sizing: border-box;
    color: rgb(148, 148, 148);
    display: inline-block;
    height: 18px;
    text-align: right;
    width: 36.0625px;
    perspective-origin: 18.03125px 9px;
    transform-origin: 18.03125px 9px;
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 12px/18px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(148, 148, 148) none 0px;
}/*#LI_90*/

#A_91, #A_93 {
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    text-align: right;
    text-decoration: none;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 12px/18px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(0, 0, 0) none 0px;
}/*#A_91, #A_93*/

#LI_92 {
    box-sizing: border-box;
    color: rgb(148, 148, 148);
    display: inline-block;
    height: 18px;
    text-align: right;
    width: 40.453125px;
    perspective-origin: 20.21875px 9px;
    transform-origin: 20.21875px 9px;
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 12px/18px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(148, 148, 148) none 0px;
}/*#LI_92*/

#LI_92:before {
    box-sizing: border-box;
    color: rgb(148, 148, 148);
    height: auto;
    text-align: right;
    width: auto;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    content: ' | ';
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 12px/18px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(148, 148, 148) none 0px;
}/*#LI_92:before*/

#P_94, #P_95 {
    box-sizing: border-box;
    color: rgb(148, 148, 148);
    height: 18px;
    text-align: right;
    width: 472.5px;
    perspective-origin: 236.25px 9px;
    transform-origin: 236.25px 9px;
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 12px/18px 'GE Inspira Sans', sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(148, 148, 148) none 0px;
}/*#P_94, #P_95*/


#MAIN_34 {
    margin:0px auto !important;
}
</style>
