<link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">

<div id="DIV_1">
	<div id="DIV_2">
		<div id="DIV_3">
			<h2 id="H2_4">
				<strong id="STRONG_5">{{=plans[0].name}}</strong>
			</h2>
			<h3 id="H3_6">
				<small id="SMALL_7">Subscription</small>
			</h3>
			<h2 id="H2_8">
				{{  for(var item in plans[0].features.data) { }}		        		

					{{	if(plans[0].features.data[item].element_type === "recurring"){	}}
							<span class="planPrice">${{=plans[0].features.data[item].price}}/mo </span>
					{{	}	}}

				{{	}	}}
				
			</h2> <a href="/subscriptions/new" target="_parent" id="A_9"><button id="BUTTON_10">
					Buy Now
				</button></a>
		</div>
	</div>
	<div id="DIV_11">
		<div id="DIV_12">
			<div id="DIV_13">
				<div id="DIV_14">
					Best Value
				</div>
			</div>
		</div>
		<div id="DIV_15">
			<h2 id="H2_16">
				<strong id="STRONG_17">{{=plans[1].name}}</strong>
			</h2>
			<h3 id="H3_18">
				<small id="SMALL_19">Save 20%! Plus our industry best <a target="_parent" href="/guarantee" id="A_20">365-Day Guarantee</a>.</small>
			</h3>
			<h2 id="H2_21">
				{{  for(var item in plans[1].features.data) { }}		        		

					{{	if(plans[1].features.data[item].element_type === "recurring"){	}}
							<span class="planPrice">${{=plans[1].features.data[item].price}}/mo </span>
					{{	}	}}

				{{	}	}}

				
			</h2> <a target="_parent"  href="/subscriptions/new" id="A_22"><button id="BUTTON_23">
					Buy Now
				</button></a>
		</div>
	</div>
	<div id="DIV_24">
		<h3 id="H3_25">
			<i id="I_26"></i> Purchase by phone: <a target="_parent"  href="tel:8557328277" id="A_27">855-732-8277</a>
		</h3>
	</div>
</div>