#DIV_1 {
    box-sizing: border-box;
    color: rgb(49, 49, 49);
    height: 377px;
    text-align: center;
    width: 1170px;
    perspective-origin: 585px 188.5px;
    transform-origin: 585px 188.5px;
    border: 0px none rgb(49, 49, 49);
    font: normal normal 300 normal 16px/28px Roboto, sans-serif;
    margin: 0px -15px;
    outline: rgb(49, 49, 49) none 0px;
}/*#DIV_1*/

#DIV_1:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(49, 49, 49);
    display: table;
    text-align: center;
    width: 1px;
    perspective-origin: 0.5px 0px;
    transform-origin: 0.5px 0px;
    content: ' ';
    border: 0px none rgb(49, 49, 49);
    font: normal normal 300 normal 16px/28px Roboto, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
}/*#DIV_1:after*/

#DIV_1:before {
    box-sizing: border-box;
    color: rgb(49, 49, 49);
    display: table;
    text-align: center;
    width: 1px;
    perspective-origin: 0.5px 0px;
    transform-origin: 0.5px 0px;
    content: ' ';
    border: 0px none rgb(49, 49, 49);
    font: normal normal 300 normal 16px/28px Roboto, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
}/*#DIV_1:before*/

#DIV_2, #DIV_11 {
    box-sizing: border-box;
    color: rgb(49, 49, 49);
    float: left;
    height: 284px;
    min-height: 1px;
    position: relative;
    text-align: center;
    width: 585px;
    perspective-origin: 292.5px 142px;
    transform-origin: 292.5px 142px;
    border: 0px none rgb(49, 49, 49);
    font: normal normal 300 normal 16px/28px Roboto, sans-serif;
    margin: 0px 0px 25px;
    outline: rgb(49, 49, 49) none 0px;
    padding: 0px 15px;
}/*#DIV_2, #DIV_11*/

#DIV_3, #DIV_15 {
    box-sizing: border-box;
    color: rgb(49, 49, 49);
    height: 284px;
    text-align: center;
    width: 555px;
    perspective-origin: 277.5px 142px;
    transform-origin: 277.5px 142px;
    border: 3px solid rgb(0, 142, 214);
    border-radius: 10px 10px 10px 10px;
    font: normal normal 300 normal 16px/28px Roboto, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
    padding: 0px 0px 25px;
}/*#DIV_3, #DIV_15*/

#H2_4, #H2_8, #H2_16, #H2_21 {
    box-sizing: border-box;
    color: rgb(49, 49, 49);
    height: 65px;
    text-align: center;
    width: 549px;
    perspective-origin: 274.5px 32.5px;
    transform-origin: 274.5px 32.5px;
    border: 0px none rgb(49, 49, 49);
    font: normal normal 300 normal 50px/65.0080032348633px Roboto, sans-serif;
    margin: 20px 0px 10px;
    outline: rgb(49, 49, 49) none 0px;
}/*#H2_4, #H2_8, #H2_16, #H2_21*/

#STRONG_5, #STRONG_17 {
    box-sizing: border-box;
    color: rgb(49, 49, 49);
    text-align: center;
    border: 0px none rgb(49, 49, 49);
    font: normal normal bold normal 50px/65.0080032348633px Roboto, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
}/*#STRONG_5, #STRONG_17*/

#H3_6, #H3_18 {
    box-sizing: border-box;
    color: rgb(49, 49, 49);
    height: 38px;
    text-align: center;
    width: 549px;
    perspective-origin: 274.5px 19px;
    transform-origin: 274.5px 19px;
    border: 0px none rgb(49, 49, 49);
    font: normal normal 300 normal 24px/38px Roboto, sans-serif;
    margin: -20px 0px 10px;
    outline: rgb(49, 49, 49) none 0px;
}/*#H3_6, #H3_18*/

#SMALL_7, #SMALL_19 {
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    text-align: center;
    border: 0px none rgb(153, 153, 153);
    font: normal normal normal normal 15.6000003814697px/15.6000003814697px Roboto, sans-serif;
    outline: rgb(153, 153, 153) none 0px;
}/*#SMALL_7, #SMALL_19*/

#A_9, #A_22 {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(66, 139, 202);
    text-align: center;
    text-decoration: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(66, 139, 202);
    font: normal normal 300 normal 16px/28px Roboto, sans-serif;
    outline: rgb(66, 139, 202) none 0px;
    transition: all 0.25s ease 0s;
}/*#A_9, #A_22*/

#BUTTON_10, #BUTTON_23 {
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 45px;
    vertical-align: middle;
    white-space: nowrap;
    width: 104.734375px;
    perspective-origin: 52.359375px 22.5px;
    transform-origin: 52.359375px 22.5px;
    background: rgb(79, 156, 214) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(53, 126, 189);
    border-radius: 6px 6px 6px 6px;
    font: normal normal normal normal 18px/23.9400005340576px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 10px 16px;
    transition: all 0.35s ease-in-out 0s;
}/*#BUTTON_10, #BUTTON_23*/

#DIV_12 {
    box-sizing: border-box;
    color: rgb(49, 49, 49);
    height: 30px;
    position: absolute;
    right: 17px;
    text-align: center;
    top: 1px;
    width: 100px;
    align-self: stretch;
    perspective-origin: 50px 15px;
    transform-origin: 50px 15px;
    border: 0px none rgb(49, 49, 49);
    font: normal normal 300 normal 16px/28px Roboto, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
}/*#DIV_12*/

#DIV_13 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    float: right;
    height: 30px;
    position: relative;
    right: -14px;
    text-align: center;
    top: 22px;
    width: 100px;
    z-index: 0;
    perspective-origin: 50px 15px;
    transform: matrix(0.707106781186548, 0.707106781186548, -0.707106781186548, 0.707106781186548, 0, 0);
    transform-origin: 50px 15px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 16px/28px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_13*/

#DIV_13:after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 12px;
    position: absolute;
    right: -17px;
    text-align: center;
    width: 30px;
    z-index: 0;
    align-self: stretch;
    perspective-origin: 15px 6px;
    transform: matrix(1, 1, 0, 1, 12.6, -29.4);
    transform-origin: 0px 6px;
    content: '';
    background: rgb(189, 54, 47) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 16px/28px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_13:after*/

#DIV_13:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 12px;
    left: -45px;
    position: absolute;
    text-align: center;
    width: 30px;
    z-index: 0;
    align-self: stretch;
    perspective-origin: 15px 6px;
    transform: matrix(1, -1, 0, 1, 15, 1.77635683940025e-15);
    transform-origin: 30px 6px;
    content: '';
    background: rgb(189, 54, 47) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 16px/28px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_13:before*/

#DIV_14 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 30px;
    letter-spacing: 2px;
    min-height: 18px;
    position: relative;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
    z-index: 2;
    perspective-origin: 50px 15px;
    transform-origin: 50px 15px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal bold normal 12px/18px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 6px 0px;
}/*#DIV_14*/

#DIV_14:after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 30px;
    letter-spacing: 2px;
    position: absolute;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
    top: 0px;
    white-space: nowrap;
    width: 100px;
    z-index: -1;
    align-self: stretch;
    perspective-origin: 50px 15px;
    transform: matrix(1, 0, 1, 1, 15, 0);
    transform-origin: 50px 15px;
    content: '';
    background: rgb(238, 95, 91) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal bold normal 12px/18px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_14:after*/

#DIV_14:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 30px;
    letter-spacing: 2px;
    position: absolute;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
    top: 0px;
    white-space: nowrap;
    width: 100px;
    z-index: -1;
    align-self: stretch;
    perspective-origin: 50px 15px;
    transform: matrix(1, 0, -1, 1, -15, 0);
    transform-origin: 50px 15px;
    content: '';
    background: rgb(238, 95, 91) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal bold normal 12px/18px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_14:before*/

#A_20 {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(66, 139, 202);
    text-align: center;
    text-decoration: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(66, 139, 202);
    font: normal normal normal normal 15.6000003814697px/15.6000003814697px Roboto, sans-serif;
    outline: rgb(66, 139, 202) none 0px;
    transition: all 0.25s ease 0s;
}/*#A_20*/

#DIV_24 {
    box-sizing: border-box;
    color: rgb(49, 49, 49);
    float: left;
    height: 68px;
    min-height: 1px;
    position: relative;
    text-align: center;
    width: 1170px;
    perspective-origin: 585px 34px;
    transform-origin: 585px 34px;
    border: 0px none rgb(49, 49, 49);
    font: normal normal 300 normal 16px/28px Roboto, sans-serif;
    outline: rgb(49, 49, 49) none 0px;
    padding: 0px 15px;
}/*#DIV_24*/

#H3_25 {
    box-sizing: border-box;
    color: rgb(49, 49, 49);
    height: 38px;
    text-align: center;
    width: 1140px;
    perspective-origin: 570px 19px;
    transform-origin: 570px 19px;
    border: 0px none rgb(49, 49, 49);
    font: normal normal 300 normal 24px/38px Roboto, sans-serif;
    margin: 20px 0px 10px;
    outline: rgb(49, 49, 49) none 0px;
}/*#H3_25*/

#I_26 {
    box-sizing: border-box;
    color: rgb(49, 49, 49);
    display: inline-block;
    height: 24px;
    text-align: center;
    width: 20.578125px;
    perspective-origin: 10.28125px 12px;
    transform-origin: 10.28125px 12px;
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal normal 24px/24px FontAwesome;
    outline: rgb(49, 49, 49) none 0px;
}/*#I_26*/

#I_26:before {
    box-sizing: border-box;
    color: rgb(49, 49, 49);
    text-align: center;
    content: 'ï‚˜';
    border: 0px none rgb(49, 49, 49);
    font: normal normal normal normal 24px/24px FontAwesome;
    outline: rgb(49, 49, 49) none 0px;
}/*#I_26:before*/

#A_27 {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(66, 139, 202);
    text-align: center;
    text-decoration: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(66, 139, 202);
    font: normal normal 300 normal 24px/38px Roboto, sans-serif;
    outline: rgb(66, 139, 202) none 0px;
    transition: all 0.25s ease 0s;
}/*#A_27*/