
<div class="plans_wrapper">

	{{for(var planObj in obj.offering.plans.data) { }}
			{{ if(obj.offering.plans[planObj].id == obj.urlParams['sub-plan-id']) { }}
					<div class="plan-wrapper selected">
			{{ } else{ }}
					<div class="plan-wrapper">
			{{ } }}


							<h3>{{= obj.offering.plans[planObj].name }} </h3>
									{{ if(obj.offering.plans[planObj].discounts.count != 0) { }}
									<div class="ribbon-wrapper-green">
											<div class="ribbon-green">
												{{=obj.offering.plans[planObj].discounts.data[0].days_to_apply}} days Free
											</div>
									</div>
									{{ } }}


			{{ if(obj.offering.plans[planObj].id == obj.urlParams['sub-plan-id']) { }}
					<div class="select-btn-wrapper selected">

			{{ } else{ }}
					<div class="select-btn-wrapper">
			{{ } }}
							{{ _.each(obj.offering.plans[planObj].features.data, function(item) { }}
											{{ if(item.name === "recurring"){ }}
															<div class="row price" style="margin:auto; text-align:left;">
																<div class="col-md-4">
																			<b style="font-size:18px;">
																					Price
																			</b>
																</div>
																<div class="col-md-8">
																			<b style="background:green; font-size:18px;">
											${{	print(item.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")) }}
																			</b>
																</div>
													</div>
													{{ } }}
							{{ }); }}

									<form>
											<input type="hidden" class="form-control" value="{{=obj.offering.plans[planObj].id }}" name="plan_id">
											<input class="btn btn-default btn-xl selectPlan" data-plan="{{=obj.offering.plans[planObj].id }}" value="Select"/>
									</form>

							</div>

							{{ _.each(obj.offering.plans[planObj].features.data, function(item) { }}
													{{ if(item.name != "recurring"){ }}
															 <div class="row" style="margin:auto; text-align:left;">
																		<div class="col-md-9">
																					{{=item.name}}
																		</div>
																		<div class="col-md-3">
																					{{ if(item.max_unit === 0 ) { }}
																					<span class="fa-check-circle fa" style="font-size:18px;"></span>
																					{{ }else{ }}
																							{{=item.max_unit}}
																				{{ } }}
																		</div>
															</div>
													{{ } }}
							{{ }); }}
					</div>
			{{ }; }}

</div>
<div class="alert alert-danger ajaxErrorMsg" role="alert" style="display:none">
	  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	  <span class="sr-only">Error:</span>
	  <span class="txt"></span>
</div>
